.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  height: 100%;
  padding: 0.3rem 0.3rem;
  box-sizing: border-box;
}

.title {
  color: #fff5e5;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1.3rem;
}

.scrollContainer {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
  scroll-snap-type: x mandatory;
  padding-bottom: 0.2rem;
}

.card {
  min-width: 50px;
  height: 50px;
  background-color: #fdf1e7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-size: 1.5rem;
}
